.Assine {
  background: #e7e4d8;
  padding: 30px 0;

  .Container {
    margin: 0 auto;
    max-width: 960px;

    &::before,
    &::after {
      display: table;
      content: "";
      clear: both;
    }
  }

  &-info {
    float: left;
    margin: 0 10px;
    width: 460px;

    h2 {
      font-size: 2.25em;
    }

    p {
      font-size: 1.5em;
      font-style: italic;
    }
  }

  form {
    float: left;
    margin: 10px 10px 0 10px;
    width: 460px;

    label {
      display: none;
    }

    input {
      background: none;
      border: 3px solid #252525;
      float: left;
      font-family: Poppins, serif;
      font-size: 1.5em;
      font-style: italic;
      padding: 10px;
      width: 320px;
    }

    button {
      background: #252525;
      border: none;
      color: #fff;
      cursor: pointer;
      font-family: Poppins, serif;
      font-size: 1.5em;
      padding: 13px 0;
      text-transform: uppercase;
      width: 140px;
    }
  }
}