.Intro {
  background: url("../img/bg-intro.jpg") no-repeat;
  background: cover;
  color: #fff;
  padding: 150px 0;
  text-align: center;

  h1 {
    font-size: 3em;
    text-transform: uppercase;
    
    &:after {
      color: #fff;
      content: "";
      display: block;
      height: 4px;
      margin: 10px auto;
      width: 20px;
    }
  }

  p {
    font-size: 1.125em;
    font-style: italic;
  }

}